@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=New+Amsterdam&display=swap');
@import url('https://unpkg.com/@uiw/reset.css/reset.css'); 
h1{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    padding: 3rem;
}
header{
    background-color: rgb(164, 111, 214);
}
main{
    background-color: rgb(254, 6, 6);
}
aside{
    background-color: rgb(46, 99, 99);
}
footer{
    background-color: rgb(157, 149, 149);
}
/* Diseño responsable con media queries, movil*/
@media (max-width: 600px) {
    /*body {
      background: rgb(66, 152, 173);}*/
    
    #container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        gap: 1rem;
    }
}
/* Diseño responsivo con media queries, tablet para arriba*/
@media (min-width: 600px) {
        /*body {
          background: rgb(60, 173, 69);}
        }*/

    #container{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        gap: 1rem;
       grid-template-areas: 
       "cabeza cabeza cabeza"
       "principal principal lado"
       "pie pie pie"
       ;

    }
    header{ 
        grid-area: cabeza;
    }
    main{
        grid-area: principal;
    }
    aside{
        grid-area: lado;
       /* grid-area: 1 /2 /3 /4 ;*/
    }
    footer{
        grid-area: pie;
    }
    
}